body {
    background-color: #FFFDDD;
}

div {
    font-family: "Courier New", monospace;
    font-size: 17pt;
}

.center {
    margin: auto;
    width: fit-content;
    height: fit-content;
}

canvas {
    margin-top: 20vh;
}